/* Global styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .btn-primary {
    display: inline-block;
    padding: 12px 24px;
    background-color: #37BC9B;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #2D806E;
  }
  
  /* Header */
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #faf8f8;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    font-size: 18px;
  }
  
  /* Hero */
  
  #hero {
    background-image: url(https://www.free-css.com/assets/files/free-css-templates/download/page290/digimedia/images/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #33497c;
  }
  
  #hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(20, 20, 21, 0.58);
    color: #281c56;
  }
  
  #hero p {
    font-size: 24px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 5px rgba(1, 8, 15, 0.624);
    color: #281c56;
  }
  
  /* About */
  
  #about {
    padding: 80px 20px;
    background-color: #d3bedc;
  }
  
  #about h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #281c56
  }
  
  #about p {
    font-size: 18px;
    line-height: 1.5;
    color: #7c123a;
  }
  
  /* Services */
  
  #services {
    padding: 80px 20px;
    text-align: center;
  }
  
  #services h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #7c123a;
  }
  
  #services ul {
    display: flex;
    justify-content: center;
  }
  
  #services li {
    font-size: 24px;
    margin-right: 40px;
    color: #7c123a;
  }

  #services td {
    background-color: #fefefe;
    color: #281c56;

  }

  #services p {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 40px;
    color: #281c56;
}

#services h5 {
  color: #281c56;
}
  
  /* Portfolio */
  
  #portfolio {
    padding: 80px 20px;
    text-align: center;
    background-color: #FFFFFF;
  }
  
  #portfolio h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  #portfolio ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #portfolio li {
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc((100% / 3))
  }  

  /* Style for Meta-Analysis section */
div {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 40px;
  }
  h2 {
    margin-top: 0;
    font-size: 28px;

  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    color: #281c56
  }
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;

  }
  thead th {
    background-color: #f2f2f2;
  }
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

